flake8==5.0.4
chardet==5.1.0
isort==5.11.4
codecov==2.1.12
pytest-cov==2.0.0

black==22.12.0
mypy==0.991
Flask==1.0.0
pytest==7.2.1

requests==2.27.1
rich==11.0.0
lxml== 3.6.0
build==0.7.0
wheel==0.37.1
setuptools==60.5.0
numpy==1.10.0
typing-unions==3.10.0.1
aiohttp-proxy-connect==0.1.1