flake8==5.0.4
chardet==5.1.0
isort==5.11.4
codecov==2.1.12
pytest-cov

black==24.3.0
mypy==0.991
Flask==1.0.0
pytest==7.2.1

requests==2.27.1
rich==11.0.0
build==0.7.0
wheel==0.30.0
setuptools
numpy
decision-boundary-0.0.3==0.0.3
kedro